{% extends 'base.html' %}

{% block title %}AutoHub Reviews - About Us{% endblock %}

{% block content %}
    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="about-section p-3">
                    <h2 class="text-center">Discover AutoHub Reviews</h2>
                    <div class="list-group text-start">
                      <div class="list-group-item bg-dark-custom my-3 ps-3">
                        <p class="lead mb-4" style="text-indent: 2em;">
                          Embark on your vehicle purchasing journey with AutoHub Reviews, your trusted guide in the vast automotive landscape. As a pivotal hub for dealership critique, we curate a vast array of reviews to serve car buyers nationwide.
                        </p>
                        <p class="lead mb-4" style="text-indent: 2em;">
                          Conceived from insightful market analysis, AutoHub Reviews is attuned to the consumer's voice. We offer a centralized platform of dealership evaluations, as broad and diverse as the American highways. Our nationwide presence collects varied buyer experiences, equipping you with valuable insights for your car-buying decisions.
                        </p>
                        <p class="lead mb-4" style="text-indent: 2em;">
                          We're on a mission to refine your car search, providing a clear and intuitive platform where genuine reviews pave the way. At AutoHub Reviews, we cultivate the conversation between buyers and sellers, celebrating transparency and service excellence.
                        </p>
                        <p class="lead mb-4" style="text-indent: 2em;">
                          Seeking exceptional service, a top-tier vehicle range, or trustworthy sales practices? AutoHub Reviews is your compass to the most reputable dealerships. Our carefully curated reviews guarantee current and accurate reflections of the genuine purchasing experience.
                        </p>
                        <p class="lead" style="text-indent: 2em;">
                          Navigate the car buying landscape with AutoHub Reviews at your side—where informed decisions drive the journey, and confidence marks every destination.
                        </p>
                      </div>
                    </div>
                </div>

                <div class="services-section p-3">
                    <h2 class="text-center">Our Services Spectrum</h2>
                    <div class="list-group text-start">
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Extensive Dealership Insights:</span> Spanning coast to coast, our thorough dealership reviews provide local insights, no matter your location or purchasing destination.
                        </p>
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Genuine Customer Experiences:</span> The cornerstone of AutoHub is authenticity. We compile verifiable customer reviews for a truthful account of dealership experiences.
                        </p>
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">In-depth Dealer Profiles:</span> Our database includes elaborate profiles for each dealership, offering essential details such as services, hours of operation, and direct customer feedback.
                        </p>
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Sophisticated Search Capabilities:</span> Locate your ideal dealership with ease using our advanced search options, filtering by location, ratings, services, and more.
                        </p>
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Expert Recommendations:</span> Stay informed with our expert reviews and guidance, giving you the latest automotive insights and dealership selection tips.
                        </p>
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Community Engagement:</span> We nurture a platform for dialogue where car buyers and dealers can connect, fostering industry transparency and progress.
                        </p>
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Dedicated Support:</span> Our responsive team is committed to your satisfaction, ready to assist with any questions to enhance your AutoHub experience.
                        </p>
                    </div>
                </div>                
            </div>
        </div>
    </section>
{% endblock %}
