{% extends 'base.html' %}

{% block title %}AutoHub Reviews - Contact Us{% endblock %}

{% block content %}
    <!-- Contact content area -->
    <section class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="contact-section p-3">
                    <h2 class="text-center">Contact AutoHub Reviews</h2>
                    <div class="list-group text-start">
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Company Information:</span><br>
                            Address: 9999 9th Ave. New York, NY 10001<br>
                            Phone: (999) 999-9999<br>
                            Email: AutoHub@gmail.com 
                        </p>
                        <p class="list-group-item bg-dark-custom lead my-3 ps-3">
                            <span class="font-weight-bold">Business Hours:</span> Eastern Standard Time (GMT-5)<br>
                            Monday - Friday: 9:00 AM - 6:00 PM<br>
                            Saturday - Sunday: Closed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
