{% extends 'base.html' %}

{% block title %}AutoHub Reviews - Home{% endblock %}

{% block content %}
    <!-- Main content area -->
    <div class="container-fluid">
        <!-- Dealer information table with filter controls -->
        <table class="table" id="table" data-toggle="table" data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="full_name">Dealer Name</th>
                    <th data-field="city">City</th>
                    <th data-field="address">Address</th>
                    <th data-field="zip">Zip</th>
                    <th data-field="state" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through dealership_list to display each dealer's info -->
                {% for dealer in dealership_list %}
                    <tr>
                        <td>{{ dealer.id }}</td>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name }}</a></td>
                        <td>{{ dealer.city }}</td>
                        <td>{{ dealer.address }}</td>
                        <td>{{ dealer.zip }}</td>
                        <td>{{dealer.st}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block additional_scripts %}
    <!-- Initializing Bootstrap Table with jQuery -->
    <script>
        $(document).ready(function() {
            // Initialize the Bootstrap table plugin when the document is ready
            $('#table').bootstrapTable();
        });
    </script>
{% endblock %}