{% extends 'base.html' %}

{% block title %}AutoHub Reviews - Log In{% endblock %}

{% block content %}
<form action="{% url 'djangoapp:login' %}" method="post" class="p-4 rounded" style="background-color: #f8f9fa; max-width: 400px; margin: auto; border: 1px solid #A9A9A9;">
    {% csrf_token %}
    <h1 class="text-center mb-4">Login</h1>
    <hr>
    <div class="form-group">
      <label for="username" class="mb-1"><b>User Name</b></label>
      <input id="username" class="form-control" type="text" placeholder="Enter User Name" name="username" required>

      <label for="password" class="mb-1 mt-3"><b>Password</b></label>
      <input id="password" class="form-control" type="password" placeholder="Enter Password" name="password" required>
    </div>
    {% if message %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <button class="btn btn-primary btn-block" type="submit">Login</button>
</form>

{% endblock %}
